[project]
	description = Access inherited by all other projects.
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = false
	requireChangeId = true
[submit]
	mergeContent = true
[capability]
	administrateServer = group Administrators
	administrateServer = group ldap/administrators
	priority = batch group Non-Interactive Users
	streamEvents = group Non-Interactive Users
[access "refs/*"]
	read = group Administrators
	read = group ldap/administrators
[access "refs/heads/*"]
	create = group Administrators
	create = group ldap/administrators
	forgeAuthor = group Registered Users
	forgeCommitter = group Administrators
	forgeCommitter = group ldap/administrators
	push = +force group Administrators
	push = +force group ldap/administrators
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group ldap/administrators
	submit = group Administrators
	submit = group ldap/administrators
	editTopicName = +force group Administrators
	editTopicName = group ldap/administrators
	pushMerge = group Administrators
	pushMerge = group ldap/administrators
[access "refs/meta/config"]
	exclusiveGroupPermissions = read
	read = group Administrators
	read = group ldap/administrators
	push = group Administrators
	push = group ldap/administrators
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group ldap/administrators
	submit = group Administrators
	submit = group ldap/administrators
[access "refs/tags/*"]
	pushTag = +force group Administrators
	pushTag = +force group ldap/administrators
	pushSignedTag = group Administrators
	pushSignedTag = group ldap/administrators
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	copyMinScore = true
	value = -2 This shall not be merged
	value = -1 I would prefer this is not merged as is
	value =  0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
[access "refs/for/*"]
	pushMerge = group Administrators
	pushMerge = group ldap/administrators
