[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	read = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.admin
	read = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
	read = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.viewer
	create = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.admin
	create = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
	push = +force group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.admin
	push = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
	pushMerge = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.admin
	pushMerge = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
	pushTag = +force group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.admin
	pushTag = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
	pushSignedTag = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.admin
	pushSignedTag = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
