[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	read = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.admin
	read = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
	read = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.viewer
	create = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.admin
	create = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
	push = +force group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.admin
	push = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
	pushMerge = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.admin
	pushMerge = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
	pushTag = +force group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.admin
	pushTag = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
	pushSignedTag = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.admin
	pushSignedTag = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
[access "refs/*"]
	read = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.admin
	read = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.viewer
	read = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
[access "refs/meta/config"]
	read = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.admin
	read = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.viewer
	read = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
[access "refs/for/*"]
	create = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.admin
	create = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
	push = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.admin
	push = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
	pushMerge = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.admin
	pushMerge = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
	label-Code-Review = -2..+2 group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.admin
	label-Code-Review = -2..+2 group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
	submit = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.admin
	submit = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
	rebase = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.admin
	rebase = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer	
	removeReviewer = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.admin
	removeReviewer = group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
[access "refs/heads/master"]
	push = deny group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
	pushMerge = deny group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
	exclusiveGroupPermissions = push pushMerge
[access "refs/heads/develop"]
	push = deny group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
	pushMerge = deny group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
	exclusiveGroupPermissions = push pushMerge
[access "refs/for/master"]
	push = deny group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
	exclusiveGroupPermissions = push
[access "refs/for/develop"]
	push = deny group ldap/${WORKSPACE_NAME}.${PROJECT_NAME}.developer
	exclusiveGroupPermissions = push